.shop-list-item {
  padding: 20px 30px;
  border: 1px solid $clr-secondary;
  border-radius: 6px 6px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  transition: 300ms;
  position: relative;
  overflow: hidden;
  background: $clr-primary;

  &__title {
    position: relative;
    z-index: 9;
    transition: 300ms;
    color: $clr-on-primary;
  }

  &__actions {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    z-index: 9;
    transition: 300ms;

    svg path {
      fill: $clr-on-primary;
    }
  }

  &__progress {
    padding: 4px 30px;
    border: 1px solid $clr-secondary;
    border-radius: 0 0 6px 6px;
    border-top: none;
    font-size: 12px;
    position: relative;

    &__bar {
      position: absolute;
      background: $clr-tertiary;
      height: 100%;
      width: 0;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}
