$clr-primary: #424874;
$clr-on-primary: #ffffff;

$clr-secondary: #40436a;
$clr-on-secondary: #ffffff;

$clr-tertiary: #bcbfe6;
$clr-on-tertiary: #000000;

$clr-danger: #cf0000;
$clr-on-danger: #ffffff;

$clr-grey: #d7d7d7;
